<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>这是首页</h1>
<a th:href="@{/hello}">测试SpringMVC</a>
<a href="/hello">测试绝对路径</a>

<hr>

<form th:action="@{/param/servletAPI}" method="post">
    用户名<input type="text" name="username" value="宫本武藏"/><br>
    密码<input type="password" name="password" value="123456"/><br>
    <input type="submit" value="提交"/>
</form>

<hr>
测试参数名匹配
<form th:action="@{/param1}" method="post">
    用户名<input type="text" name="username" value="宫本武藏"/><br>
    密码<input type="password" name="password" value="123456"/><br>
    <input type="submit" value="提交"/>
</form>

<hr>
测试参数名不匹配
<form th:action="@{/param2}" method="post">
    用户名<input type="text" name="name" value="宫本武藏"/><br>
    密码无
    <input type="submit" value="提交"/>
</form>

<hr>
测试Header和CookieValue
<form th:action="@{/param3}" method="post">
    用户名<input type="text" name="username" value="宫本武藏"/><br>
    密码<input type="password" name="password" value="123456"/><br>
    <input type="submit" value="提交"/>
</form>

<hr>
测试pojo传参
<form th:action="@{/param/pojo}" method="post">
    用户名<input type="text" name="username" value="宫本武藏"/><br>
    密码<input type="password" name="password" value="123456"/><br>
    <input type="submit" value="提交"/>
</form>

<hr>
<a th:href="@{/test/modelAndView}">测试ModelAndView传参</a><br>
<a th:href="@{/test/model}">测试Model传参</a><br>
<a th:href="@{/test/modelMap}">测试ModelMap传参</a><br>
<a th:href="@{/test/map}">测试Map传参</a><br>
<a th:href="@{/test/session}">测试向Session中共享数据</a><br>
<a th:href="@{/test/application}">测试向Application中共享数据</a><br>
</body>
</html>