<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>这里是首页</h1>
<a th:href="@{/user}">查询所有用户</a><br>
<a th:href="@{/user/2}">查询指定ID的用户</a><br>
<form th:action="@{/user}" method="post">
    <input type="submit" value="添加用户">
</form>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="更新用户">
</form>
<form th:action="@{/user/8}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="删除用户">
</form>
</body>
</html>