<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改员工</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>

<form th:action="@{/employee}" method="post">
    <input type="hidden" name="_method" value="put">
    <table th:object="${toEditEmp}">
        <tr>
            <th colspan="2">修改员工信息</th>
        </tr>
        <tr>
            <td>序号</td>
            <td><input type="text" name="empId" th:value="*{empId}" readonly></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input type="text" name="empName" th:value="*{empName}"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="text" name="age" th:value="*{age}"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><input type="text" name="gender" th:value="*{gender}"></td>
        </tr>
        <tr>
            <td>部门ID</td>
            <td><input type="text" name="deptId" th:value="*{deptId}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="修改"></td>
        </tr>
    </table>
</form>

</body>
</html>