<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxyw.mybatis.mapper.SpecialMapper">

<!--  List<User> getUserListByLike(@Param("word") String word);  -->
    <select id="getUserListByLike" resultType="user">
        <!--select * from t_user where username like '%${word}%'-->
        <!--select * from t_user where username like concat('%',#{word},'%')-->
        select * from t_user where username like "%"#{word}"%"
    </select>

    <!--void deleteMultiUser(@Param("ids") String ids);-->
    <delete id="deleteMultiUser">
        delete from t_user where id in(${ids})
    </delete>

<!--  List<User> getByTableName(@Param("tableName") String tableName);  -->
    <select id="getByTableName" resultType="user">
        select * from ${tableName}
    </select>

<!--  void addUser(User user);  -->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (null,#{username},#{password},#{age},#{gender},#{email})
    </insert>

</mapper>