<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxyw.mybatis.mapper.DynamicMapper">

<!--  List<Emp> getEmpListByDynamic(Emp emp);  -->
    <select id="getEmpListByDynamic" resultType="Emp">
        select * from t_emp
        <trim prefix="where" suffixOverrides="and">
            <if test="empName != null and empName != ''">
                emp_name = #{empName} and
            </if>
            <if test="age != null and age != ''">
                age = #{age} and
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender} and
            </if>
        </trim>
    </select>


    <select id="getEmpListByDynamic2" resultType="Emp">
        select * from t_emp
        <where>
            <if test="empName != null and empName != ''">
                and emp_name = #{empName}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
        </where>
    </select>

    <select id="getEmpListByDynamic1" resultType="Emp">
        select * from t_emp where 1 = 1
            <if test="empName != null and empName != ''">
                and emp_name = #{empName}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
    </select>

<!--  List<Emp> getEmpListByChoose(Emp emp);  -->
    <select id="getEmpListByChoose" resultType="Emp">
        select * from t_emp
        <where>
            <choose>
                <when test="empName != null and empName != ''">
                    emp_name = #{empName}
                </when>
                <when test="age != null and age != ''">
                    age = #{age}
                </when>
                <when test="gender != null and gender != ''">
                    gender = #{gender}
                </when>
            </choose>
        </where>
    </select>

<!--  void insertSomeEmp(@Param("empList") List<Emp> empList);  -->
    <insert id="insertSomeEmp">
        insert into t_emp values
        <foreach collection="empList" item="emp" separator=",">
            (null, #{emp.empName}, #{emp.age}, #{emp.gender}, null)
        </foreach>
    </insert>

<!--  void deleteSomeEmp(@Param("empIds") int[] empIds);  -->
    <delete id="deleteSomeEmp">
        delete from t_emp where emp_id in
        <foreach collection="empIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <sql id="empColumns">
        emp_id, emp_name, age, gender, dept_id
    </sql>

<!--  List<Emp> getEmpList();  -->
    <select id="getEmpList" resultType="emp">
        select <include refid="empColumns"/> from t_emp
    </select>

</mapper>